# THIS IS A COMMENT AND SHOULD BE READ;

# Sets the context to be the aircraft config context; All values will be forwarded to the aircraft config base class;
CONTEXT AIRCRAFTCONFIG;
FrontalArea 0.32;

# Sets context to component configuration "mode";
CONTEXT COMPONENTCONFIG;
# Creates a new component of type HelmetMountedDisplay;
NEWCOMPONENT Assets.Scripts.Vehicles.Components.HelmetMountedDisplay;
# Functions as KEY VALUE;
HitPoints 100;

# Finalizes the component and adds it to the list of components;
FINISHCOMPONENT;
# Creates a new component of type AircraftEngine;
NEWCOMPONENT Assets.Scripts.Vehicles.Components.AircraftEngine;
# Functions as KEY VALUE;
HitPoints 100;

# Finalizes the component and adds it to the list of components;
FINISHCOMPONENT;

